<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <title>{{ .page.Title }}</title>
  <meta charset='UTF-8'>
  <link rel="stylesheet" media="all" href="/assets/application.css" />
</head>
<body>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <form action="/search" accept-charset="UTF-8" method="get">
        <div class='container-fluid'>
          <a class="brand" href="/docs/{{ .page.Title }}">{{ .page.Title }}</a>
          <ul class='nav pull-right'>
            <li class='divider-vertical'></li>
            <li class='navbar-form'>
              <input type="text" name="terms" id="terms" accesskey="f" class="js-terms" title="Search or create a term [Ctrl+K]" />
              <input type="submit" value="Search" class="btn btn-primary" title="Searches for the term in existing pages" />
              <input type="submit" value="Create" formaction="/edit" class="btn" title="Creates a page with the specified term, or leads to the page if already exists" />
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>

  <div class='container-fluid'>
    <form action="/docs/{{ .page.Title }}/edit" accept-charset="UTF-8" method="post">
      <div class='row-fluid'>
        <div class='span3 js-sidepanel'>
          <ul class='breadcrumb'>
            <li>
              <a accesskey="q" title="Back to main page of this wiki" href="/">« Main page</a>
              <span class='divider'>/</span>
            </li>
            <li>
              <a accesskey="q" title="Lists all pages this wiki has" href="/All">All pages</a>
            </li>
          </ul>

          <div class='breadcrumb'>
            <div class='btn-group'>
              <input type="submit" value="Save" class="btn btn-primary btn-small js-save" accesskey="s" title="Saves changes to this page [Ctrl+S]" />
              <input type="submit" value="Preview" formaction="/docs/{{ .page.Title }}/preview" class="btn btn-small" accesskey="p" title="Previews page changes instead of saving [Ctrl+P]" />
              <a class="btn btn-small" title="Cancels page edition" href="/docs/{{ .page.Title }}">Cancel</a>
            </div>
            <div class='pull-right'>
              <a class="btn btn-danger btn-small" title="Deletes current page from disk, forever" href="/docs/{{ .page.Title }}/edit">Delete</a>
            </div>
          </div>
          <div class='toc breadcrumb js-toc'></div>
        </div>
        <div class='maincontent span9 pull-right js-maincontent'>
          <textarea class="prettyprint" name="source" placeholder="Start here to write the page content." rows="25">{{ .page.Source }}</textarea>
          {{ .page.Body }}
        </div>
      </div>
    </form>
  </div>
</body>
</html>
