<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <title>{{ .page.Title }}</title>
  <meta charset='UTF-8'>
  <link rel="stylesheet" media="all" href="/assets/application.css" />
</head>
<body>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <form action="/search" accept-charset="UTF-8" method="get">
        <div class='container-fluid'>
          <a class="brand" href="/docs/{{ .page.Title }}">{{ .page.Title }}</a>
          <ul class='nav pull-right'>
            <li class='divider-vertical'></li>
            <li class='navbar-form'>
              <input type="text" name="term" accesskey="f" class="js-terms" title="Search or create by term [Ctrl+K]" value="{{ .term }}" />
              <input type="submit" value="Search" class="btn btn-primary" title="Searches for the term in existing pages" />
              <input type="submit" value="Create" formaction="/edit" class="btn" title="Creates a page with the specified term, or leads to the page if already exists" />
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>

  <div class='container-fluid'>
    {{ template "content" . }}
  </div>
</body>
</html>
