{{ template "layout.html" . }}

{{ define "content" }}
    <div class='row-fluid'>
      <div class='span3 js-sidepanel'>
        <ul class='breadcrumb'>
          <li>
            <a accesskey="q" title="Back to main page of this wiki" href="/">« Main page</a>
            <span class='divider'>/</span>
          </li>
          <li>
            <a accesskey="q" title="Lists all pages this wiki has" href="/All">All pages</a>
          </li>
        </ul>

        <div class='breadcrumb'>
          <a class="btn btn-primary" accesskey="e" title="Changes this page to edition mode" href="/docs/{{ .page.Title }}/edit">Edit page</a>
        </div>
        <div class='toc breadcrumb js-toc'></div>
      </div>
      <div class='maincontent span9 pull-right js-maincontent'>
        {{ .page.Body }}
      </div>
    </div>
{{ end }}
